// Base font size
$baseFontSize: 16;

// Fonts

$fontOpenSans: 'Open Sans', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;

// Colors

$colorBlue: #009FE3;
$colorLightGray: #F5F5F5;
$colorWhite: #FFF;
$colorBlack: #000;
$colorGray: #525252;
$colorDarkGray: #333;
$colorShadow: rgba(42,42,42,.25);
$colorShadow2: #dcdcdc;
$colorBorder: rgb(232, 232, 232);

// Misc
$easingDefault: cubic-bezier(0.395, 0.425, 0.015, 1);
$e: $easingDefault;


// Divide

$colorDivide: #479f00;


