.card{
  background-color: $colorWhite;
  border: 0 solid $colorBorder;
  border-radius: 2px;
  box-shadow: 0 1px 5px $colorShadow2;
  color: #2a2a2a;
  padding: 20px 0;

  &:not(:first-of-type){
    margin-top: 30px;
  }

  &__header{
    font-size: 1.875rem;
    padding-left: 10px;
    margin-top: 0;
  }
  &__content{
    padding-left: 10px;
  }
}