.main-header {
  background-color: $colorWhite;
  box-shadow: 1px 0 2px 2px $colorShadow;
  width: 100%;
  z-index: 450;
  border-top: 6px solid $colorBlue;
  min-height: 80px;
  position: fixed;
  top: 0;
  &__logo {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    background: url("../images/logo_blue.png") center no-repeat transparent;
    background-size: contain;
    width: 60px;
    height: 50px;
    margin: 0;
    a{
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__slogen{
    text-align: center;
    height: 74px;
    line-height: 74px;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
