.main{
  margin: 60px auto 60px;
  &__welcome{
    background: url("../images/adhat.jpg") center no-repeat transparent;
    background-size: cover;
    width: 100%;
    padding-bottom: 60%;
    box-shadow: 0 1px 5px $colorShadow2;
    position: relative;
    margin-bottom: 30px;
    a{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}