.main-nav-button {
  @include clearfix;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 50px;
  top: 26px;
  padding-right: 30px;
  @include transition(color);
  text-transform: uppercase;
  font-weight: bold;
  z-index: 500;
  &:hover {
    color: $colorBlue;
    .line {
      background-color: $colorBlue;
      &:before, &:after {
        background-color: $colorBlue;
      }
    }
  }
  .line {
    display: block;
    position: absolute;
    right: 0;
    top: 9.5px;
    width: 20px;
    height: 2px;
    background-color: $colorDarkGray;
    @include transition();
    &:after, &:before {
      content: '';
      display: block;
      position: relative;
      width: 20px;
      height: 2px;
      background-color: $colorDarkGray;
      @include transition();
    }
    &:before {
      top: -4px;
    }
    &:after {
      top: 2px;
    }
  }
  &.is-open {
    .line {
      background-color: transparent;
      transform: rotate(180deg);
      &:before {
        transform: translateY(4px) rotate(-45deg);
      }
      &:after {
        transform: translateY(-4px) rotate(45deg);
      }
    }
  }
}

.main-nav {
  width: 320px;
  padding: 20px 0;
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  background-color: $colorBlue;
  z-index: 400;
  transform: translateX(320px);
  @include transition(transform);
  box-shadow: 1px 0 2px 2px $colorShadow;
  @media screen and (max-width: 767px) {
    width: 100%;
    transform: translateX(100%);
    overflow-y: scroll;
  }
  &.is-open {
    transform: translateX(0);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        z-index: 410;
        background-color: transparentize($colorBlack, 0.65);
        @include transition(width);
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
      &.active {
        a, a:visited {
          opacity: 1;
        }
      }
      a, a:visited {
        position: relative;
        z-index: 420;
        display: block;
        padding: 5px 50px;
        color: $colorWhite;
        opacity: .8;
        font-size: .875rem;
        text-transform: uppercase;
        font-weight: bold;
        @include transition(opacity);
        &:hover, &:active {
          color: white;
          opacity: 1;
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
      }
    }
  }
}